name: PR Labels

on:
  pull_request:
    types: [opened, labeled, unlabeled]

jobs:
  label-pr:
    name: Label PR
    runs-on: ubuntu-latest

    steps:
    - uses: actions/labeler@v4
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}